#root {
    font-family: filson-pro, sans-serif;
}

/* .article-tile {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 15px;
    text-align: center;
    padding: 0px 0px 15px 0px;
    margin: 20px 30% 15px 30%;
    transition: all 0.2s ease-in-out;
}

.article-tile:hover {
    box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0px, -1px, 0px);
} */

.grid-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.text-content {
    padding: 0px 15px 15px 15px;
}

.cont-reading {
    text-decoration: none;
    color: black;
}

.article-image {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}

.link-class {
    color: rgb(183, 26, 4);
}

.link-class:hover {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

/* .article-heading {
    text-align: center;
} */

/* .article-content {
    padding: 0% 30% 3% 30%;
} */

/* .back-btn {
    background-color:rgb(230, 230, 230);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding: 5px;
    transition: all 0.1s ease-in-out;
}

.back-btn:hover {
    background-color:rgb(189, 189, 189);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0px, -1px, 0px);
} */
